<main class="contenedor contenedor-formularios">
  <h1><%-nombrePagina%></h1>

  <form action="/crear-cuenta" method="POST" class="default-form">
    <div class="campo">
      <label for="">E-mail</label>
      <input type="email" name="email" id="" placeholder="Tu Email" />
    </div>
    <div class="campo">
      <label for="">Nombre</label>
      <input type="text" name="nombre" id="" placeholder="Tu Nombre" />
    </div>
    <div class="campo">
      <label for="">Password</label>
      <input type="password" name="password" id="" placeholder="Tu password" />
    </div>
    <div class="campo">
      <label for="">Repetir Password</label>
      <input
        type="password"
        name="confirmar"
        id=""
        placeholder="Repite tu password"
      />
    </div>
    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" id="" value="Crear Cuenta" />
    </div>
  </form>
</main>

<!-- <main class="contenedor contenedor-formularios">
  <h1><%-nombrePagina%></h1>

  <form action="/crear-cuenta" method="POST" class="default-form">
    <div class="campo">
      <label for="">E-mail</label>
      <input type="email" name="email" id="" placeholder="Tu Email" />
    </div>
    <div class="campo">
      <label for="">Nombre</label>
      <input type="text" name="nombre" id="" placeholder="Tu Nombre" />
    </div>
    <div class="campo">
      <label for="">Password</label>
      <input type="password" name="password" id="" placeholder="Tu password" />
    </div>
    <div class="campo">
      <label for="">Repetir Password</label>
      <input
        type="password"
        name="confirmar"
        id=""
        placeholder="Repite tu password"
      />
    </div>
    <div class="campo enviar">
      <input type="submit" class="btn btn-rosa" id="" value="Crear Cuenta" />
    </div>
  </form>
</main> -->
